*~
*cpython*.so
cgrid2d.cpp
cgrid3d.cpp
cmesh3d.cpp
build/
debug_tt_mex/
test_lelievre11.py
ttcr_matlab/*.mex*
xcuserdata/

.cproject
.project
.pydevproject


CMakeCache.txt
*Makefile
*cmake_install.cmake
*CMakeFiles/
install_manifest.txt

ttcr/ttcr2d
ttcr/ttcr2ds
ttcr/ttcr3d

examples/model2d*.vtp
examples/model2d*.dat
/.settings/
